// MAIN CONTACTO

.contacto {
    margin-top: 126px;
    padding: 15px;
    text-align: center;
    border-bottom: solid 5px;
    background-color: $color-fondo-titulos;
    h1 {
       font-size: 50px;
       text-decoration: underline;
    }      
}
.container {
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $color-fondo-titulos;
    .row {
        .button {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 20px;
            input {
                &:hover {
                    transition: 1,5s;
                    background-color: $color-hover;        
                }
            }        
        }   
    }    
}
     