// MAIN GALERIA 

.galeria {
    margin-top: 126px;
    text-align: center;
    padding: 15px 10px;
    text-decoration: underline;
    background-color: $color-fondo-titulos;
    border-bottom: solid 5px; 
    h1 {
        font-size: 50px;
    }       
} 
.grilla {
    border: solid;
    margin-top: 15px;
    background-color: $color-fondo-titulos;
    display: grid;
    padding: 10px;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "area1 area2 area3"
    "area4 area12 area12"
    "area7 area12 area12"
    "area10 area11 area11"
    "area9 area5 area6"
    "area8 area5 area6"
    ;
    .caja {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    } 
    .c1 {
        grid-area: area1;
    }
    .c2 {
        grid-area: area2;
    }
    .c3 {
        grid-area: area3;
    }
    .c4 {
        grid-area: area4;
    }
    .c5 {
        grid-area: area5;
    }
    .c6 {
        grid-area: area6;
    }
    .c7 {
        grid-area: area7;
    }
    .c8 {
        grid-area: area8;
    }
    .c9 {
        grid-area: area9;
    }
    .c10 {
        grid-area: area10;
    }
    .c11 {
        grid-area: area11;
        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    .c12 {
        grid-area: area12;
        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }       
}