// STYLE GLOBAL A TODAS LAS PAGINAS

 // BODY
 .bienvenida {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $fuente-body;
}

// MAIN 
.main {
    background-color: $color-fondo-main;
    background-image: url(../multimedia/fondo.jpg);
    background-size: cover;
    text-align: center;
}