// VARIABLES
// COLORES
$color-fondo-nav: linear-gradient(#038876, #036659, #02473e, #023d35, #012520); 
$color-fondo-titulo-carrusel: #012520; 
$color-fondo-titulos: rgba(102, 160, 183, 0.705);
$color-letras: #c6c9c2;
$color-hover: #c8d2d07d;
$color-fondo-main: rgba(102, 160, 183, 0.212);
$color-consulta: rgba(26, 75, 117, 0.603);
$color-consulta-index: #0d1e4e;

// FUENTE
$fuente-body: 'Tiro Devanagari Hindi', serif;
